.App-header {
  min-height: 5vh;
  background-color: silver;

  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

  padding: 0 10pt;
}

.App-body {
  background-color: #282c34;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Loader-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
