.Article {
    width: 60vw;
}

.Article-heading {
    color: white;
    background-color: darkslategray;

    padding: 10pt;
    margin: 0;

    border-bottom: 1px solid black;
}

.Article-heading p {
    margin: 10pt 0;
}

.Article-title {
    font-size: 30pt;
    font-weight: bold;
}

.Article-author {
    font-size: 12pt;
    font-weight: normal;
}

.Article-body {
    display: grid;
    grid-column-gap: 10pt;
    grid-template-columns: 30% 70%;

    background-color: snow;

    padding: 10pt;
    margin: 0;

    color: black;
    font-size: 15pt;
}

.Article-body p {
    margin: 0;
}

.Article-meta {
    margin: 10pt 0;
    font-size: 12pt;
}

.Article-meta > * {
    margin: 4pt 0;
}

.Article-main-image {
    max-width: 100%;
    border: 1px solid black;
}
